body {
    padding: 1rem;
}
.add {
    background-color: rgb(141, 182, 141)
}

.delete {
    background-color: salmon;
}

.lucky {
    background-color:orange
}

li {
    padding: .5rem;
}


label {
    margin-right: 10px;
}

 button, .section, .price {
    margin-left: 10px;

}